<div class="container mt-4">
  <h3>Còctels</h3>

  <!-- Botons de vista -->
  <div class="text-end mb-3">
  <button
    class="btn btn-sm me-2"
    [ngClass]="viewType === 'grid' ? 'btn-primary' : 'btn-outline-secondary'"
    (click)="toggleView('grid')">
    Vista Llista
  </button>

  <button
    class="btn btn-sm"
    [ngClass]="viewType === 'card' ? 'btn-primary' : 'btn-outline-secondary'"
    (click)="toggleView('card')">
    Vista Cards
  </button>
</div>

  <!-- Spinner si no hi ha dades -->
  <div *ngIf="cocktails.length === 0">
    <div class="text-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <!-- Vista Grid -->
  <app-cocktail-grid *ngIf="viewType === 'grid'" [cocktails]="cocktails"></app-cocktail-grid>

  <!-- Vista Cards -->
  <div *ngIf="viewType === 'card'" class="row g-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let cocktail of cocktails">
      <app-cocktail-card [cocktail]="cocktail"></app-cocktail-card>
    </div>
  </div>
</div>
